<%= form_with model: @user, url: account_path, method: :put do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div class="">
    <%= form.label :email, "Current Email" %>
    <%= form.text_field :email, disabled: true %>
  </div>
  <div class="">
    <%= form.label :unconfirmed_email, "New Email" %>
    <%= form.text_field :unconfirmed_email %>
  </div>
  <div class="">
    <%= form.label :password, "Password (Leave blank if you don't want to change it)" %>
    <%= form.password_field :password %>
  </div>
  <div class="">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div class="">
    <%= form.label :current_password, "current password (We need this for any changes)" %>
    <%= form.password_field :current_password %>
  </div>
  <%= form.submit "Update Account" %>
<% end %>