<%= form_with url: password_path(params[:password_reset_token]), scope: :user, method: :put do |form| %>
  <div class="">
    <%= form.label "Password:", :password %>
    <%= form.text_field :password %>
  </div>
  <div>
    <%= form.label "Password Confirmation:", :password_confirmation %>
    <%= form.text_field :password_confirmation %>
  </div>
  <%= form.submit "Save New Password" %>
<% end %>